.btn{
  width: 101px;
  height: 40px;
  left: 120px;
  top: 595px;
  background: #1890FF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 55px;
}

.text-button{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}