.content-container{
  margin-top: 115px;
  margin-left: 120px;
}
.title-content{
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.02em;
  color: #062847;

}
.description-content{
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  margin-top: 25px;
  color: #5A6774;
}
.description-item{
  margin-bottom: 10px;
}
.email-content{
  color: #1890FF;
}